* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
.card {
  width: 40rem;
  display: flex;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.product {
  flex: 1;
}
img {
  border-radius: 20px 0px 0px 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.category {
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}
h1 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
}
.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}
.pricing {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.price {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 24px;
  color: hsl(158, 36%, 37%);
}
del {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}
button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  margin-top: 20px;
  padding: 14px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: hsl(158, 42%, 18%);
}
@media (max-width: 600px) {
  body {
    height: auto;
    padding: 20px;
  }
  .card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  img {
    border-radius: 20px 20px 0px 0px;
  }
}
